.navbar{
    display:flex;
    position: fixed;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    width: 100%;
    height: 10em;
    background: linear-gradient(45deg, black, red, yellow, orange);
    max-width: 100%;
    z-index: +1;
}
.Button{
    margin-top: 20px;
    background:black;
    color:white;
    margin-left:50px;
    margin-right:75px;
   }
.ui.list>.item a {
  
    color:black;
    font-weight: bold;
}
.localla{
     flex-direction: column;
     justify-content: left;
}

.logo{
  
    font-size: 85px;
    color:white;
    text-shadow: 5px 5px 3px rgb(0,0,0,0.15);
    font-weight:bolder;
}
.logoLA{
    font-family: monospace;
    border-radius: 56px;
    font-size:90px;
    color: black;
    -webkit-text-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.divlogo{
   padding-bottom:20px;
}
.ui.header:first-child {
    padding-top: 8px;
}
.uigrid{
    padding-top:16rem;
}
.descript{
    margin-left: 30px;
    font-weight:600;
    font-size:20px;
}