.uigrid {
    margin-left: 100px;
    margin-right: 100px;
}

#headtitle{
 font-size: 35px;
 font-weight: 900;
 border-width: 2px solid grey;
 line-height: 33px;
}

#city{
font-weight:bold;
font-size: 21px;
color:grey;
}

#venuename{
font-weight:bold;
display:block;
margin-top:148px;
font-size: 16px;
color:grey;
}

.border{
    border: solid grey 1px;
}

#datetime{
    padding: 2rem;
    font-weight: bolder;
    font-size:24px;
 
}
.centeritems{
    text-align: center;
}

#Icon{
    margin-top: 375px;
}

.button1    {
    display:flex;
    flex-flow:inherit;
    background-color:black;
    color: white;
    align-self: center;
    width:150px;
    height:80px;
    position: relative;
    top: 100px;
}

#lowprice{
    position:relative;
    top:15px;
    font-weight:bold;
    color:red;
    font-size:22px;
}

#imagecover{
    flex-direction: column;
    left: -55px;
    max-width: 130%;
    margin-top:75px;
    margin-right: 100px;
}





