
.uigrid{
    margin-right:100px;
    margin-left:100px;
}
#headtitle{
 font-size: 35px;
 font-weight: 900;
 border-width: 2px solid grey;
 line-height: 33px;
}

#city{
font-weight:bold;
font-size: 24px;
color:grey;


}
#venuename{
font-weight:bold;
display:block;
margin-top:148px;
font-size: 22px;
color:grey;
line-height: 27px;;


}

.border{
    border: solid grey 1px;
}

#datetime{
    font-weight: bolder;
    font-size:24px;
 
}
.centeritems{
    text-align: center;
}

#Icon{
    margin-top: 375px;
   
   

}
.button1    {
    flex-direction: column;
    justify-content:center;
   background-color:black;
    color: white;
    
   
    height:70px;
   
   
   
}

#lowprice{
    position:relative;
    top:15px;
    font-weight:bold;
    color:red;
    font-size:26px;
}

#imagecover{
    flex-direction:column;
    left:-55px;
    max-width:130%;
    margin-top:75px;
    margin-right:100px;

    
}
.button{
    flex-direction: column;
    margin-top: 80px;
   
}
.time{
    font-weight: bolder;
    font-size:24px; 
}




