
#root{
 background-color:black;
}


.uigrid{
    margin-right:100px;
    margin-left:130px;
}

#headtitle{
 font-size: 35px;
 font-weight: 900;
 border-width: 2px solid grey;
 line-height: 33px;
}

#city{
font-weight:bold;
font-size: 24px;
color:grey;
}

#venuename{
font-weight:bold;
display:block;
margin-top:30px;
font-size: 22px;
color:grey;
line-height: 27px;;
}

.border{
    border: solid grey 1px;
}

#datetime{
    padding: 2rem;
    font-weight: bolder;
    font-size:30px;
 
}
.centeritems{
    text-align: center;
   
}

#Icon{
    margin-top: 250px;
}

.Button1    {
    flex-direction: column;
    justify-content:center;
    background-color:black;
    color: white;
    height:50px;
   
   
   
}

#lowprice{
    position:relative;
    top:15px;
    font-weight:bold;
    color:red;
    font-size:30px;
}

#imagecover{
    flex-direction:column;
    left:-55px;
    max-width:130%;
    margin-top:75px;
    margin-right:100px;
    border-image: 5px solid black;
    
    

    
}
.button{
    flex-direction: column;
    margin-top: 40px;
    
  
   
}
.time{
    font-weight: bolder;
    font-size:24px; 
}

.ui.grid>.row{
   display:flex;
   flex-shrink: inherit;
   margin-bottom: 1rem;
   background:white;
   
}

