.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    /* padding-top: 200px; */
    height: 300px;
}

Form {
    padding-top: 200px;
    width: 400px;
}

.ui.input{
    width: 500px;
}

.ui.form{
    padding-top: 20px;
}

h2 {
    text-align: center;
}


