.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    padding-top: 200px;
}
Form {
    padding-top: 100px;
    width: 500px;
}
.ui.form{
    padding-top: 0;
}

Form.Input {
    width: 50%;
}

